<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IntegratedServletAndJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Movie</display-name>
    <servlet-name>Movie</servlet-name>
    <servlet-class>servlet.Movie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movie</servlet-name>
    <url-pattern>/Movie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>servlet.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/MovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieResultsServlet</display-name>
    <servlet-name>MovieResultsServlet</servlet-name>
    <servlet-class>servlet.MovieResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieResultsServlet</servlet-name>
    <url-pattern>/MovieResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReviewServlet</display-name>
    <servlet-name>CustomerReviewServlet</servlet-name>
    <servlet-class>servlet.CustomerReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReviewServlet</servlet-name>
    <url-pattern>/CustomerReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>servlet.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerTransactionServlet</display-name>
    <servlet-name>CustomerTransactionServlet</servlet-name>
    <servlet-class>servlet.CustomerTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerTransactionServlet</servlet-name>
    <url-pattern>/CustomerTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrdersServlet</display-name>
    <servlet-name>ViewOrdersServlet</servlet-name>
    <servlet-class>servlet.ViewOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrdersServlet</servlet-name>
    <url-pattern>/ViewOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOrdersServlet</display-name>
    <servlet-name>ManageOrdersServlet</servlet-name>
    <servlet-class>servlet.ManageOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrdersServlet</servlet-name>
    <url-pattern>/ManageOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>servlet.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/CancelOrderServlet</url-pattern>
  </servlet-mapping>
</web-app>