<h1>Add an article</h1>

<form>
    <div class="form-group">
        <label>Title</label>		
        <input class="form-control" ng-model="article.title"></input>
    </div>
    <div class="form-group">
        <label>URL</label>
        <textarea class="form-control" ng-model="article.URL"></textarea>
    </div>
    <div class="form-group">
        <label>Username</label>
        <textarea class="form-control" ng-model="article.user"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>	
</form>

