<h1>Comments for <a href="{{article.URL}}">{{article.title}}</a></h1>
<h2>Votes: {{article.votes}}</h2>

<p><a href="/#/">Back to Home Page?</a></p>

<p><a href="/#/add-comment/{{article._id}}">Add a comment?</a></p>
<p>Comments:</p>

<ul>
    <li ng-repeat="comment in comments | orderBy: '-votes'" >
    "{{comment.body}}" posted by {{comment.user}} on {{comment.date}} with {{comment.votes}} votes.
        <a>edit</a>
        <a><span ng-click="upvote(article)">
            <i class="glyphicon glyphicon-arrow-up"></i>
            </span>
            </a>
        <a><span ng-click="downvote(article)">
                <i class="glyphicon glyphicon-arrow-down"></i>
        </span></a>
        
        <a href ="/#/article/deleteComment/{{article._id}}/{{comment.commentid}}">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
</ul>