<h1>Feddit Home Page</h1>

<p><a href="/#/add-article">Add an article?</a></p>

<p>Current News Articles:</p>

</br>
<label>Search: <input ng-model="searchText"></label>
</br>

<ul>
    <li ng-repeat="article in articles | filter: searchText | orderBy: '-votes'">
        <a href="{{article.URL}}">{{article.title}}</a> posted by {{article.user}}, 
        Vote Count: {{article.votes}} 
        <a>
            <a><span ng-click="upvote(article)">

            <i class="glyphicon glyphicon-arrow-up"></i>

            </span>
            </a>
        </a>
        <a><span ng-click="downvote(article)">
                <i class="glyphicon glyphicon-arrow-down"></i>
        </span></a>
        <a href = "/#/article/comments/{{article._id}}">view comments</a>
        <a href ="/#/article/delete/{{article._id}}">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </li>
</ul>

